---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

a, a:visited, a:active {
    color: #147DDF;
}

a:hover {
    color: black;
    text-decoration: none;
}

.post-list > li {
      margin-bottom: 10px; 
}

.post-link {
    font-size: 22px;
}

.pagination {
    padding-top: 20px;
    margin: auto;
    text-align: center;
}

.pagination-selected {
    font-weight: bold;
    pointer-events: none;
    cursor: default;
    color: black !important;
}

.pagination-item {
    margin-left: 5px;
    margin-right: 5px;
}

.footer-col-3 {
    text-align: right;
}